*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-size: auto 100vw 100vh;
    height:100vh;
    
}

/* breakpoint */
@media (min-width:400px) {
   body {
       font-size: 14px;
   } 
}

/* breakpoint */
@media (min-width:600px) {
    body {
        font-size: 18px;
 }
}

/* breakpoint */
@media (min-width:1200px) {
    body {
        font-size: 20px;
 }
}
/*cabeçalho*/
header {
   background-color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*menu*/
.menu {
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 100vw;
    top:0;
    z-index: 1;
}

.menu ul {
    display: flex;
    justify-content: flex-end;
  }
  
  .menu li {
   list-style: none; 
   background:none;
   border-radius: 5;
   margin:0 1em 0;
  }
  
  .menu a {
    
    display: block;
    padding: 10px 20px;
    transition: background-color, 0.2s, color 0.2s;
  }
  
  .menu a:active,
  .menu a:hover{
    background-color:white;
    color:black;
    border-radius: 03px;
    text-decoration: none;
  }


  a {
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

 .titulo {
   transition: scale(0.2) translateY(50vh);
   opacity: 0;
   animation: linear 2s animacaoTitulo forwards;
 } 

 @keyframes animacaoTitulo {
  
  100% {
    transition: scale(1) translateY(0);
    opacity: 1;
  }
   
 }

  
  .site-subtitle, 
  .site-title {
    color: black;
    text-align: center;
  }
  
  .site-title {
    font-size: 3em;
    font-family:'Homemade Apple', cursive;
  }
  
  .site-subtitle {
   color:rgb(156, 9, 88);
   line-height: 1.8em;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .contato,
  .sobre,
  .portfolio {
    padding: 2em;
    min-height: 100vh;
    
  }
  .sobre h2,
  .contato h2,
  .portfolio h2 {
    color:black;
    margin-bottom: 1.5em;
    font-size: 2em;
  }
  
  .sobre p {
    color: black;
    text-indent: 1.4em;
    margin-bottom: 1.4em;
    text-align: justify;

  }

  .figureSobre img{ /*Imagem na guia sobre*/
    border-radius: 2px;
    float: left; /*para colocar foto no meio dos textos*/
    height: 250px;
    margin: 2em;
  }

  .sobre a {
    color: black;
    text-decoration: none;
  }

  .sobre a:hover {
    text-decoration:underline;
  }
  
  .sobre ul {
    padding-left: 60px;
  }


  .portfolio .grid {
    display: grid;
    gap: 2em;
    text-align: center;
    
  }
  
  @media (min-width: 560px) {
    .portfolio .grid {
      grid-template-columns: 240px 240px;
    }
  }
  
  @media (min-width: 880px) {
    .portfolio .grid {
      grid-template-columns: repeat(3, 260px);
      align-content: center;
      justify-content: center;
      height: calc(100vh - 8em - 48px);
    }
  }
  
  .portfolio {
    text-align: center;
  
  }
  
  .img-portfolio {
    margin-top: 50px;
    padding-top: 10px;
    height: 180px;
    width: 240px;
    object-fit: cover;
    object-position: bottom;
    transition: 500ms;
    transform: scale(1);

    border-radius: 2px;
    cursor: pointer;
    
  }

  
  .img-portfolio:hover {
    transform: scale(1.2);

  } 
 
.contato{
  min-height: 10vh;
  margin-bottom: 3em;
  text-align: center;
}  
.contato .icons{  
  text-align:center;
  color:whitesmoke;
  
}  
.contato a {
  text-indent: 1.4em;
  font-size: 2em;
  transition: text-shadow 1s;
  color:black;

}

.contato a:active,
.contato a:hover{
  text-decoration: none;
  text-shadow: 0px 1px 5px black
}


footer{
  margin-bottom: 0;
  margin-left: auto;
  text-align: center;

}