*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-image: url('https://i.imgur.com/iWBk7rH.jpg');
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-size: auto 100vw 100vh;
    height:100vh;
}

/* breakpoint */
@media (min-width:400px) {
   body {
       font-size: 14px;
   } 
}

/* breakpoint */
@media (min-width:600px) {
    body {
        font-size: 18px;
 }
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu {
    background-color: rgb(0, 0, 0);
    color: black;
    position: fixed;
    width: 100vw;
    top:0;
}

.menu a {
   display: block;
   padding:10px 20px;
}

a {
    text-decoration: none;
    color:white;
}

a:hover {
    color: white;
    text-decoration: underline;
}

.menu ul {
    display: flex;
    justify-content: space-evenly;
}u

.menu li {
    list-style: none;
}

.site-title {
    text-align: center;
    color:black;
}

.site-subtitle {
    text-align: center;
    color:white;
}

.img-portfolio {
    height:180px;
    width:210px;
}

 figure {
    text-align: center;
    padding: 8px;
 }

 h2 {
    text-align: center;
    padding: 8px;
 }